name: Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  plugin_test:
    name: asdf plugin test
    runs-on: macos-latest
    steps:
      - name: Install xcodes via asdf
        run: |
          asdf plugin add xcodes https://github.com/younke/asdf-xcodes.git
          asdf install xcodes latest
          asdf global xcodes latest

      - name: asdf_plugin_test
        uses: asdf-vm/actions/plugin-test@v4
        with:
          command: xcode -version
